

canvas
{
    image-rendering: crisp-edges;
}
div.colorpicker
{
    position: relative; 
    height: 300px; 
    width: 320px
}
svg.colorpicker
{
    position: absolute; 
    left: 0; 
    pointer-events: none;
}
canvas.colorpicker_square
{
    position: absolute;
    left: 10px;
    top: 10px;
}
canvas.colorpicker_slider
{
    position: absolute;
    left: 287px;
    top: 10px;
}
td
{
    padding: 0px 15px 0px 0px;
}
div.swatch
{
    width: 64px;
    height: 64px;
    display: inline-block;
}
label
{
    text-align: center;
    display:inline-block;
    width:12px;
}
input
{
    border: 1px solid rgba(0,0,0,0.333);
    border-radius: 4px;
    text-align: right; 
    font-family: monospace;
    color:rgb(30,30,30);
    background-color: rgba(255,255,255,0.5);
}
/* 1.15rem * 7 > */
.hex_input
{
    width: 5rem;
}
.value_input
{
    width: 56px; 
}


