

.bg_select h2 {
    text-align: center;
    width: 100%;
}

canvas
{
    image-rendering: crisp-edges;
}
div.colorpicker
{
    position: relative; 
    height: 300px; 
    width: 400px;
}
svg.colorpicker
{
    position: absolute; 
    left: 0; 
    pointer-events: none;
}
canvas.colorpicker_square
{
    position: absolute;
    width: 257px;
    height: 257px;
    right: 10px;
    top: 10px;
}
div#slider-colorpicker
{
    position: absolute;
    left: 40px;
    bottom: 10px;
}
canvas.colorpicker_slider
{
    position: absolute;
    left: 287px;
    top: 10px;
}
div.swatch
{
    width: 64px;
    height: 64px;
    display: inline-block;
}
div.colorpicker label
{
    text-align: center;
    display:inline-block;
    width:12px;
}
/* TODO make these colors swap on dark/light switch */
div.colorpicker input
{
    border: 1px solid rgba(0,0,0,0.333);
    border-radius: 4px;
    text-align: right; 
    font-family: monospace;
    color:rgb(30,30,30);
    background-color: rgba(255,255,255,0.5);
}
/*  7 * 25 = 225 */
.hex_input
{
    width: 110px;
    text-align: center; 
}
.value_input
{
    width: 56px; 
    text-align: right; 
}

table.bg_table {
    width: 400px;
    text-align: center; 
    font-family: monospace;
    color:rgb(30,50,30);
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
}

table.bg_table caption {
    background-color: rgba(255,255,255,0.5);
    padding: 20px 10px 10px 10px;
    font-weight: bold;
    font-size: 25px;
}
table.bg_table td
{
    padding: 10px 10px 10px 10px;
}
