

main {

    display: flex;
    
    justify-content: space-around; 
    align-items: stretch; 
    /* flex-flow: row wrap; */ 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-content: stretch;
    align-items: stretch;


  }

section {
    border: 1px solid #ffcc80;
    border-radius: 5px;
    flex-shrink:1;
    flex-grow:1;

  }


section.bg_select {
    flex-shrink:0;
    flex-grow:0;
    width: 350px;
    align-items: center;
    justify-content: center;
  }

section.lightness_select {
    flex-grow:3;
    min-width: 300px;
  }

section.number_select {
    width: 100px;
    flex-grow:1;
}

section.number_select img{
    width: 100%;
    height: auto;
    max-height: 300px;
}

	
section.sortby_select {
    width: 100%;
}
	
section.example_display {
    width: 100%;
}
	
			

