
.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    }

.iframe {
  width: calc(100vw);
  height: calc(100vh);
  box-sizing: border-box;
  }

section {
    border: 2px solid green;  /* for debug only */
    border-radius: 1vw;       /* for debug only */
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
} 

section > img {
    max-width:  100vw;
    max-height: 100vh;
}

.flex-item:nth-child(1) {
    }

.flex-item:nth-child(2) {
    border: 2px solid red;  /* for debug only */
     flex-grow:1;
    }

.flex-item:nth-child(3) {
    }

.flex-item:nth-child(3) {
    }



.starthelp {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}


.container:hover .starthelp {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
