

#slider-mesh-toggle {
    height: 20px;
    width: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
}
#slider-mesh-toggle.off .noUi-handle {
    border-color: red;
}

#slider-mesh-toggle.on  .noUi-handle {
    border-color: green;
}

#slider-results-toggle {
    height: 20px;
    width: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
}
#slider-results-toggle.off .noUi-handle {
    border-color: red;
}

#slider-results-toggle.on  .noUi-handle {
    border-color: green;
}

#range-color {
    background: linear-gradient(white, black);
}
#slider-colorpicker .noUi-base {
    background: linear-gradient(white, black);
}
#slider-colorpicker .noUi-marker {
    color: black;
    background-color: black;
}
#slider-colorpicker .noUi-value {
    color: black;
}

#slider-image-viewer {
    /*
viewer.style.height = '20px';
viewer.style.position = 'relative';
viewer.style.right = '0px';
viewer.style.top = '80%';
viewer.style.width = '80%';
viewer.style.margin = '20px';
*/

    height: 20px;
    width: 80%;
    bottom: 40px;

}
#slider-mesh-oneside {
    height: 70%;
    width: 20px;
    left: 50px;
    bottom: 0%;
    /*
    position: relative;
    */
    border-color: var(--text)
}

#slider-mesh-oneside h1 {
    font-size: 40px;
    margin: 0 0 0 0;
    line-height: 0;
    transform: translate(-70px, 10px);
}

#slider-mesh-oneside .noUi-base {
    background: linear-gradient(white, black);
}

.noUi-handle {
    color: black;
    background-color: white;
}

/* needs to be reversed */
.noUi-marker {
    background-color: var(--text);
}


.noUi-pips {
    color: var(--text);
}

.noUi-value {
    color: var(--text);

}

.noUi-target {
    background-color: linear-gradient(white, black);
}



/*
.noUi-target.noUi-horizontal .noUi-tooltip {
    color: red;
    background-color: purple;
}
*/



